<h1>Eat-Da-Burger!</h1>

<img src="https://png.pngtree.com/png-vector/20191030/ourmid/pngtree-burger-vector-illustration-with-filled-line-design-burger-clip-art-png-image_1923564.jpg"
    alt="burger" class="center" id="burger-img">
<div class="container">
    <div class="row">
        <div col-m-6>
            <ul>
                {{#each burger}}
                {{#unless this.devoured}}
                <li>
                    <span>
                        {{this.burger_name}}
                    </span>
                    <button class="devour" data-id="{{id}}">Devour it!</button>
                    <button class="delete" data-id="{{id}}">&times</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div col-m-6>
            <ul>
                {{#each burger}}
                {{#if this.devoured}}
                <li>
                    <span>
                        {{this.burger_name}}
                    </span>

                    <button class="delete" data-id="{{id}}">&times</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div col-md-12>
        <form id="postBurgerForm">
            <textarea name="addBurgerText" id="burgerText" cols="30" rows="10"></textarea>
            <button type=submit id="newBurgerButton">Add Burger</button>
        </form>
    </div>

</div>