<h1>Eat-Da-Burger!</h1>

<img src="https://i.pinimg.com/originals/29/41/72/2941721cd1cbd4fde3d4ec94a510013d.png" alt="burger" class="center"
    id="burger-img">
<div class="container">

    <div class="row">
        <div class="col-sm">
            <ul>
                {{#each burger}}
                {{#unless this.devoured}}
                <li>
                    <span>
                        {{this.burger_name}}
                    </span>
                    <button class="devour" data-id="{{id}}">Devour it!</button>
                    <button class="delete" data-id="{{id}}">&times</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>



        <div class="col-sm">
            <form id="postBurgerForm">
                <textarea name="addBurgerText" id="burgerText" cols="30" rows="10"></textarea>
                <button type=submit id="newBurgerButton">Add Burger</button>
            </form>
        </div>






        <div class="col-sm" id="devouredBurgers">
            <ul>
                {{#each burger}}
                {{#if this.devoured}}
                <li>
                    <span>
                        {{this.burger_name}}
                    </span>

                    <button class="delete" data-id="{{id}}">&times</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>

</div>